body {
  background-image: url("images/city.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #ffffff;
  color: rgb(255, 0, 0);
  font-family: 'Courier New', Courier, monospace, arial;
  text-align: center;
  margin: auto;
  width: 50%;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  position: relative;
  z-index: 1;
}

a:link {
  color: rgb(255, 0, 0);
  font-weight: bold;
}

a:visited {
  color: rgb(255, 0, 0);
}

a:hover {
  color: rgb(255, 0, 0);
}

a:active {
  color: rgb(255, 0, 0);
}